body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.clear:after {
  content: "";
  display: table;
  clear: both;
}

/*================================
            HEADER FOOTER
==================================*/

header {
  background: 
    rgba(255, 176, 100, 1) 90.1%;
  padding: 30px 0px 10px 0px;
}

header .logo {
  float: left;
}

header .nav {
  float: right;
}

header .nav img {
  width: 30px;
  margin-top: 20px;
  cursor: pointer;
}

header .side-drawer {
  background: rgb(255, 251, 251);
  border: #474747;
}

/*================================
                SLIDER
==================================*/

.slider_bck {
  height: 850px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.slider-container {
  display: flex;
}

.slider-container .text {
  font-family: 'Monoton', cursive;
  color: #fff;
  font-size: 85px;
  line-height: 95px;
  width: 600px;
  margin-top: 120px;
}

.slider-container .image {
  flex-grow: 1;
  width: 370px;
  text-align: center;
}

.slider-container .image img {
  width: 510px;
  margin-top: 140px;
}


/*================================
            MENU CONTAINER
==================================*/

.menu_container .top {
    margin-top: 80px;
}

.menu_container .top h2 {
    text-align: center;
    font-size: 70px;
    font-family: 'Monoton', cursive;
    color: #b32d00;
    border-bottom: 1px solid #1a1a4b;
    line-height: 90px;
    margin: 0px 0px;
}

.menu_container .buttons {
    text-align: center;
    border-bottom: 1px solid #1a1a4b;
    margin-bottom: 40px;
}

/*================================
            INQUIRY CONTAINER
==================================*/

.inquiry_container {
  background: #b32d00;
  text-align: center;
  margin: 110px 0px;
  padding: 40px 0px 70px 0px;
}

.inquiry_container  .first {
  padding: 20px 0px;
}
.inquiry_container  .first h2 {
  font-size: 60px;
  margin: 0px;
  line-height: 150px;
  color:#fff;
}

.inquiry_container .second  {
  height:200px;
}

.inquiry_container .third {
  font-weight: 700;
  font-size: 60px;
  line-height: 150px;
  color:#fff;
}

.inquiry_container .third span:first-child {
  color: #171717;
}


/*================================
                FOOTER
==================================*/

footer {
  margin-top: 130px;
  background: #212121;
  color: #565656;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  padding: 40px 0px;
}

footer .contact {
  border-top: 1px solid #474747;
  padding: 20px;
}

footer .container {
  text-align: center;
}
footer {
  margin-top: 130px;
  background: #212121;
  color: #565656;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  padding: 40px 0px;
}

footer .contact {
  border-top: 1px solid #424242;
  padding: 20px;
}

footer .container {
  text-align: center;
}
